<div class="footer">
  <nav class="nav_bar">
    <ul class="footer_owner_info">
      <!-- email -->
      {% if site.email %}
      <a class="footer_btn" href="mailto://{{ site.email }}" target="_blank">
        <i class="fa fa-envelope-square">
        </i>
      </a>
      {% endif %}
      <!-- linkedin -->
      {% if site.linkedin %}
      <a class="footer_btn" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">
        <i class="fa fa-linkedin">
        </i>
      </a>
      {% endif %}
      <!-- github -->
      {% if site.github %}
      <a class="footer_btn" href="https://github.com/{{ site.github }}" target="_blank">
        <i class="fa fa-github">
        </i>
      </a>
      {% endif %}
      <!-- twitter -->
      {% if site.twitter %}
      <a class="footer_btn" href="https://twitter.com/{{ site.twitter }}" target="_blank">
        <i class="fa fa-twitter">
        </i>
      </a>
      {% endif %}
      <!-- instagram -->
      {% if site.instagram %}
      <a class="footer_btn" href="https://instagram.com/{{ site.instagram }}" target="_blank">
        <i class="fa fa-instagram">
        </i>
      </a>
      {% endif %}
      <!-- youtube -->
      {% if site.youtube %}
      <a class="footer_btn" href="https://www.youtube.com/user/{{ site.youtube }}" target="_blank">
        <i class="fa fa-youtube">
        </i>
      </a>
      {% endif %}
	  <!-- twitch -->
      {% if site.twitch %}
      <a class="footer_btn" href="https://twitch.tv/{{ site.twitch }}" target="_blank">
        <i class="fa fa-twitch">
        </i>
      </a>
      {% endif %}
      <!-- steam -->
      {% if site.steam %}
      <a class="footer_btn" href="https://steamcommunity.com/id/{{ site.steam }}" target="_blank">
        <i class="fa fa-steam">
        </i>
      </a>
      {% endif %}
    </ul>
    <!-- copyright -->
    <ul class="footer_copyright">
      <li class="copyright">© 2022 • BLZ Corp. • DON'T GROW UP, IT'S A TRAP!</li>
    </ul>
  </nav>
</div>
